$zIndex: (
    popup: 1000
);

$color: (
    background: #FFF,
    row-even: #EEE,
    row-odd: #FFF
);

$file-list-item-height: 2em;
$buttons-space: .5em;
$input-offset: 4px; // to make text indent equal for label end rename form