.files-list-item {
    height: $file-list-item-height;
    line-height: $file-list-item-height;
    
    &:before,
    &__rename-form,
    &__label,
    &__button--rename-cancel {
        display: inline-block;
        vertical-align: middle;
    }
    
    &:before {
        content: "";
        height: 100%;
    }
    
    &__label {
        // make text indent equal for label end rename form
        margin-left: $input-offset;
    }
    
    &__button--rename-cancel {
        margin-left: $buttons-space;
        margin-top: 1.5px; // accidental offset
    }
    
}