$list-row-darker: #EEE;
$list-row-lighter: #FFF;

.selectable-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__option,
    &__option--selected {
        
        &:nth-child(even) {
            background-color: $list-row-lighter;
        }

        &:nth-child(odd) {
            background-color: $list-row-darker;
        }

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

}