.selectable-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__option,
    &__option--selected {
        
        &:nth-child(even) {
            background-color: map-get($color, "row-even");
        }

        &:nth-child(odd) {
            background-color: map-get($color, "row-odd");
        }

        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

}